*.idea
*.iml
*/*.iml
*/*.idea
*/target
*/.project
*/.classpath
*/.settings
*/bin
*/**/*.iml
*/**/*.idea
*/**/target
*/**/.project
*/**/.classpath
*/**/.settings
*/**/bin
/target
/.project
/.classpath
/.settings
/bin
